/* Media Queries for Mobile Devices with width 430 pixels and below */
@media (max-width: 800px) {
  .header{
    height: 50px;
  }
  .page-name {
    width: 130px;
    font-size: 17px;
    font-weight: 600;
    padding-left: 30px;
  }
  .form-container {
    gap: 10px;
    max-width: 245px;
    padding: 10px;
    border-radius: 5px;
  }
  .form-group {
    gap: 0;
  }
  .form-group input,
  .form-group textarea {
    width: 50px;
  }
  .right-section {
    padding-right: 0;
  }
  .list-container a {
    margin-right: 10px;
    margin-left: 0;
  }
  .list-container a::after {
    left: 0;
    bottom: 0;
    width: 100%;
  }

  .list-container a:hover::after {
    height: 2px;
  }
  .right-section div {
    font-size: 13px;
    font-weight: 600;
  }
  .container {
    padding-top: 30px;
    padding-bottom: 90px;
  }
  .my-title {
    font-size: 15px;
    font-weight: 600;
    padding-top: 30px;
  }
  .my-title-about {
    font-size: 12px;
    font-weight: 400;
  }
  .item1 {
    margin: 10px 0;
    width: 400px;
    font-size: 18px;
  }

  .item2 {
    margin: 10px 0;
    width: 400px;
    height: 150px;
    font-size: 13px;
    line-height: 24px;
  }
  /*media styling for date container*/
    .current-date-container1 {
      width: 70%;
      height: 55%;
    }

    .text-display,
    .date-display {
      font-size: 23px;
      font-weight: 600;
      padding: 5px;
    }
  /*styling of the latest post section and table*/
  .table-container {
    padding: 30px 22px;
  }
  .wide-column {
    width: 82%;
  }

  .narrow-column {
    width: 18%;
  }

  th {
    font-weight: 600;
  }

  td,
  th {
    font-size: 10px;
    padding: 7px 2px;
  }
  .see-more-div{
    font-size: 14px;
  }
  /*projecct styling*/
  .project-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
    .project-text {
      font-size: 20px;
      font-weight: 700;
      padding: 10px;
      margin: 0;
    }
    .all-projects-button {
      font-size: 14px;
      font-weight: 500;
    }
  /*footer section*/
  .footer {
    height: 560px;
  }
  .left-footer-list-container a {
    font-size: 16px;
  }

  /* Media Queries for the about page */
    .aboutContainer{
      padding-top: 25px;
      row-gap: 15px;
    }
  .aboutMe {
    font-size: 25px;
    font-weight: 600;
  }
  .aboutMe1 {
    font-size: 16px;
    font-weight: 600;
    padding: 8px 5px;
  }
  .aboutMe {
    width: 80%;
    font-size: 25px;
    font-weight: 700;
  }
  .aboutMeMore{
    width: 80%;
  }
  .aboutMeIntroduction {
    width: 80%;
    line-height: 24px;
    font-size: 12px;
  }
    .aboutMe1Date {
      margin-top: 5px;
      font-size: 15px;
      padding-bottom: 10px;
    }
        .aboutMeMore li {
          font-size: 12px;
          padding: 0 0;
        }
}

/* Media Queries targeted for tablets Devices*/
