/* Media Queries for Mobile Devices with width 430 pixels and below */
@media (max-width: 800px) {
  .page-name {
    width: 130px;
    font-size: 17px;
    font-weight: 600;
    padding-left: 10px;
  }
  .form-container {
    gap: 10px;
    max-width: 245px;
    padding: 10px;
    border-radius: 5px;
  }
  .form-group{
    gap: 0;
  }
  .form-group input,
  .form-group textarea {
    width: 50px;
  }
  .right-section {
    padding-right: 0;
  }
  .list-container a {
    margin-right: 10px;
  }
  .list-container a::after {
    left: 4px;
    bottom: 4px;
    width: 86%;
  }

  .list-container a:hover::after {
    height: 2px;
  }
  .right-section div {
    font-size: 13px;
    font-weight: 600;
  }
  .my-title {
    font-size: 15px;
    font-weight: 600;
    padding-top: 30px;
  }
  .my-title-about {
    font-size: 12px;
    font-weight: 400;
  }
  .item1 {
    margin: 10px 0;
    width: 400px;
    font-size: 18px;
  }

  .item2 {
    margin: 10px 0;
    width: 400px;
    font-size: 13px;
    line-height: 24px;
  }
  /*styling of the latest post section and table*/
  .table-container {
    padding: 50px 10px;
  }
  .wide-column {
    width: 80%;
  }

  .narrow-column {
    width: 20%;
  }

  th,
  td {
    padding: 5px;
  }

  td,
  th {
    font-size: 10px;
  }
  .project-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  /*footer section*/
  .left-footer-list-container a {
    font-size: 16px;
  }
}

/* Media Queries for Mobile Devices with large screens or mini tablets */
/* Media Queries targeted for tablets Devices*/
