/*bootstrap css -- <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel=" stylesheet">*/
/*header styling*/
.header {
  background-color: #1a5bc4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #1153bd;
  height: 80px;
}

.page-name {
  width: auto;
  font-size: 38px;
  font-weight: 900;
  padding-left: 80px;
  text-decoration: none;
  animation: colorChange 7s infinite;
}

/*The two sections in the header*/
.left-section, .right-section {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
}
.right-section{
  padding-right: 40px;
}
.right-section div {
  font-size: 20px;
  font-weight: 800;
}

.left-section {
  justify-content: left;
}

.list-container {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: center;
}

.list-container a {
  color: white;
  text-decoration: none;
  margin-left: 30px;
  position: relative;
}

.list-container a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 1px;
  opacity: 0;
  background-color: white;
  transition: height 0.2s;
}

.list-container a:hover::after {
  height: 4px;
  opacity: 1;
}
/*also use this animation for about contact and co*/
@keyframes colorChange {
  0% {
    color: white;
  }

  60% {
    color: black;
  }

  70% {
    color: rgb(175, 42, 42);
  }

  80% {
    color: green;
  }

  90% {
    color: rgb(201, 77, 201);
  }

  100% {
    color: rgb(214, 51, 51);
  }
}
/*body styling*/
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin: 0;
  background-color: white;
}
    
/* Reset default styles bootstrap css -- <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel=" stylesheet">*/
body,
ul,
li {
  margin: 0;
  list-style: none;
}
.first-flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
  padding-bottom: 60px;
  border-radius: 4px;
}
.my-title,
.my-title-about,
.my-image-container {
  display: flex;
}
.my-title {
  text-decoration: none;
  font-size: 34px;
  font-weight: 800;
  padding-top: 20px;
}
.my-title-about {
  font-size: 20px;
  font-weight: 400;
}
.my-image {
  width: 250px;
  height: 250px;
  border-radius: 125px;
  object-fit: fill;
}
/*little introduction section styling*/
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #1a5bc4;
  width: 100%;
  padding: 40px 0;
  margin-bottom: 30px;
  box-shadow: 0 4px 20px rgba(65, 119, 235, 0.4);
}
.item1 {
  margin: 10px 0;
  width: 700px;
  color: white;
  font-size: 28px;
}
.item2 {
  margin: 10px 0;
  width: 700px;
  color: white;
  font-size: 20px;
  line-height: 34px;
}
.talk-class {
  color: coral;
  text-decoration: none;
}

/* Styling for the date container */
.current-date-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 100%;
  padding: 0 0;
  margin: 40px 0;
}
.text-display, .date-display{
  width: 50%;
  height: 100%;
    font-size: 40px;
    font-weight: 800;
    color: rgb(148, 147, 147);
    text-align: center;
    align-content: end;
  border-radius: 20px;
  padding-bottom: 20px;
  box-shadow: 8px 8px 10px rgb(124, 121, 121, 0.7);
}
/*styling of the latest post section and table*/
table,
th,
td {
  border: 1px solid darkgray;
}

.table-container {
  padding: 50px 180px;
}

.left-align {
  text-align: left;
}
.post-link{
  text-decoration: none;
  color: #1a5bc4;
}
.date-added{
  text-align: center;
}
td {
  text-align: center;
}

.wide-column {
  width: 80%;
}

.narrow-column {
  width: 20%;
}

th,
td {
  padding: 10px;
}

td,
th {
  font-size: 24px;
}
.see-more-div {
  margin-top: 20px;
  font-size: 22px;
  font-weight: 400;
}
.see-more-link{
  text-decoration: none;
    color: #1a5bc4;
}
.see-more-link:hover {
  text-decoration: underline;
  color: #6330ee;
}
/*project styling*/
.project-image {
  height: 120px;
  width: 180px;
  object-fit: fill;
  border-radius: 4px;
  border: 1px solid rgb(189, 187, 187);
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 40px;
  row-gap: 40px;
}

.project-container {
  border: 1px solid rgb(231, 231, 231);
  display: flex;
  flex-direction: column;
  background-color: #dfd9d9;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-shadow: 4px 4px 8px rgb(158, 155, 155, 0.4);
  transition: transform 0.03s ease;
}

.project-container:hover {
  transform: scale(1.01);
}

.project-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 180px;
  margin-bottom: 20px;
}

.project-name {
  font-size: 20px;
  font-weight: 800;
  height: 40px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1a5bc4;
}

.project-text {
  font-size: 24px;
  font-weight: 800;
  padding: 10px;
  margin: 0;
}

.project-text-container {
  display: grid;
  grid-template-columns: (1, 1fr);
  justify-content: center;
  align-items: center;
  padding-bottom: 45px;
  border-top: 1px dotted rgb(158, 155, 155);
  border-bottom: 1px dotted rgb(190, 185, 185)
}

.text-and-all-project {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
  justify-content: space-between;
  padding: 10px 0;
}

.all-projects-button {
  padding: 4px 10px;
  font-size: 16px;
  font-weight: 600;
  background-color: darkgray;
  cursor: pointer;
  color: black;
  border-radius: 4px;
  border: 1px solid rgb(124, 121, 121);
  transition: transform 0.03s ease;
}

.all-projects-button:hover {
  transform: scale(1.01);
  background-color: rgb(124, 121, 121);
}

.view-button {
  padding: 8px 40px;
  color: white;
  border-radius: 50px;
  border: 1px solid #0c48a8;
  background-color: #1a5bc4;
  cursor: pointer;
}

.view-button:hover {
  background-color: rgb(17, 17, 223);
}
/*footer css*/
.footer {
  height: 605px;
  margin-top: 100px;
  background-color: #1a5bc4;
}

.footer-row {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 10px;
  column-gap: 10px;
  padding-top: 20px;
}

.first-footer-row {
  display: grid;
  grid-column: 1fr;
  padding-bottom: 2px;
}

.first-footer-grid {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 20px;
}

.message-me-section {
  padding-left: 20px;
  color: white;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 800px;
  margin: 0;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.form-group label {
  flex: 1;
  min-width: 100px;
}

.form-group input,
.form-group textarea {
  flex: 2;
  padding: 8px;
  border: 1px solid #e9e8e8;
  border-radius: 4px;
}

.form-group textarea {
  resize: vertical;
  max-height: 80px;
}

.footer-message-button {
  align-self: flex-end;
  padding: 10px 20px;
  background-color: rgb(48, 161, 48);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.footer-message-button:hover {
  background-color: darkgreen;
}

.connect-with-me {
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.connect-with-me img {
  height: 30px;
}

.connect-with-me-grid1 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  justify-content: center;
  padding: 10px 7px;
  margin-left: 16px;
  column-gap: 15px;
  text-align: center;
  width: 250px;
  border: 1px solid rgb(207, 205, 205);
  border-radius: 4px;
}

.connect-with-me-text {
  text-align: left;
  padding-left: 15px;
  color: white;
}
.github-tooltip,
.linkedin-tooltip,
.x-tooltip,
.whatsapp-tooltip,
.instagram-tooltip {
  position: absolute;
  padding: 2px 3px;
  border-radius: 2px;
  background-color: #0c4096;
  opacity: 0;
  transition: opacity 0.1s;
  pointer-events: none;
  font-size: 13px;
  color: white;
}
.linkedin-container {
  position: relative;
}

.linkedin-container:hover .linkedin-tooltip {
  opacity: 1;
}

.linkedin-tooltip {
  bottom: -26px;
  right: -8px;
}
.github-container {
  position: relative;
}

.github-container:hover .github-tooltip {
  opacity: 1;
}

.github-tooltip {
  bottom: -26px;
  right: -4px;
}

.x-container {
  position: relative;
}

.x-container:hover .x-tooltip {
  opacity: 1;
}

.x-tooltip {
  bottom: -26px;
  right: 14px;
}

.whatsapp-container {
  position: relative;
}

.whatsapp-container:hover .whatsapp-tooltip {
  opacity: 1;
}

.whatsapp-tooltip {
  bottom: -26px;
  right: -12px;
}

.instagram-container {
  position: relative;
}

.instagram-container:hover .instagram-tooltip {
  opacity: 1;
}

.instagram-tooltip {
  bottom: -26px;
  right: -14px;
}
.left-footer-list-container {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: left;
  align-items: center;
  text-align: center;
  padding-left: 16px;
}

.left-footer-list-container a {
  color: white;
  text-decoration: none;
  margin-right: 10px;
  position: relative;
  font-size: 18px;
  text-align: center;
  font-weight: 500;
  border: 1px solid rgb(207, 205, 205);
  padding: 2px 4px;
  border-radius: 4px;
}

.copyright-section {
  text-align: right;
  color: white;
  font-size: 14px;
  font-weight: 500;
  margin-top: 40px;
  padding-right: 10px;
}

/*Styling of the about page----------------------------------------
----------------------------------*/
.aboutContainer{
  padding-top: 50px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  background-color: rgb(255, 255, 255);
  place-items: center;
  row-gap: 25px;
  font-size: 19px;
  color: rgb(54, 54, 54);
  /* Center horizontally */
}
.aboutMe{
  width: 50%;
    font-size: 45px;
    font-weight: 700;
    color: black;
}
.aboutMe1{
    font-size: 30px;
    font-weight: 700;
    color: black;
    border: 1px solid rgb(231, 229, 229);
    padding: 15px 10px;
}
.aboutMe1Date{
  margin-top: 10px;
  font-size: 24px;
  padding-bottom: 10px;
}
.aboutMeIntroduction{
  width: 50%;
  line-height: 28px;
}
.aboutMeMore{
  width: 50%;
    line-height: 28px;
}
.aboutMeMore li{
  padding: 5px 0;
}
.aboutMeMore a{
  text-decoration: none;
  color: rgb(54, 54, 54);
}
.alx{
  text-decoration: none;
  color: #1a5bc4;
}
/*----------Styling of the blog page------------------------------------------------------
---------------------------------*/
.blogContainer{
  display: grid;
  width: 100%;
  place-items: center;
  grid-template-columns: 1fr;
  padding-top: 50px;
    row-gap: 40px;
  color: rgb(54, 54, 54);
}
.blogContainerHead{
  width: 50%;
}
.blogContainerHeadTitle{
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 10px;
  padding-left: 20px;
}
.blogContainerHeadDescription{
  font-size: 28px;
  font-weight: 400;
  padding-left: 20px;
  line-height: 130%;
}
.blog2024{
  width: 50%;
  border: 1px solid rgb(170, 169, 169);
  border-radius: 20px;
}
.blogYear{
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 10px;
  padding-left: 20px;
  padding-top: 10px;
}
.blogPost{
  font-size: 22px;
  padding-left: 20px;
  padding-bottom: 10px;
  padding-top: 5px;
  padding-right: 5px;
  border-top: 1px solid rgb(194, 192, 192);
}
.blogPost a{
  text-decoration: none;
  color: #1a5bc4;
}