body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: black;
  color: white;
}

p {
  font-size: 40px;
  font-weight: bolder;
}

button {
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
  background-color: rgb(5, 5, 187);
  color: white;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(82, 81, 81);
  border-radius: 5px;
  transition: transform 0.1s;
}

button:hover {
  background-color: rgb(138, 23, 23);
  border-width: 1px;
  cursor: pointer;
  border-style: solid;
  border-color: darkgray;
  opacity: 0.8;
  transform: scale(1.1);
}

button:active {
  background-color: rgb(1, 104, 1);
  border-width: 1px;
  cursor: pointer;
  border-style: solid;
  border-color: gray;
  opacity: 0.8;
}
img {
  height: 50px;
}
.moves {
  font-size: 40px;
  font-weight: bolder;
  display: inline-block;
}
